@charset "UTF-8";

body {
	font-family: 'Spectral', serif;
	background-color: #F6F6F6;
	color: black;
}
#resultList, li, ul {
	padding-top: 25px;
	text-align: left;
	font-family: 'Spectral', serif;
	font-size: 18px;
}

p {
	
	font-size: 18px;
	letter-spacing: 2px;
	background-color: #F6F6F6;
}

home {
	font-size: 18px;
}

#keyPhoto, idimageleft {
	height: 700px;
	width: 700px;
}

#deleteLeft {
	width: 600px;
}

.row1, .row2, .row3, .row4 {
	padding-top: 20px;
}

#reel, #keywordLeft, #idimageleft {
	height: 700px;
	width: 700px;
	align-self: left;
	padding-left: 0;
	margin-left: 0;
}


.no-gutters {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	background-color: #F6F6F6;
	text-align: center;
	font-family: 'Spectral', serif;
}

#menu, #keywordGrid, #searchId, #deletemenu {
	padding-top: 200px;
	justify-content: center;
	font-family: 'Spectral', serif;
}


a {
	color: black;
	text-decoration: none;
	font-size: 35px;
	text-align: center;
	font-family: 'Spectral', serif;
}

a:hover {
	color: #FE0253;
	text-decoration: none;
}

#keyHead, #idHead {
	font-size: 35px;
	padding-top: 50px;
	padding-bottom: 15px;
}

.nav-link {
	font-size: 18px;
}

#navigationLocation {
	padding-top: 175px;;
	
}




